@keyframes animHeader {
  0% {
    top: -1000px;
    opacity: 0;
  }
  50% {
    top: -500px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

.competences {
  animation: animLogoCompetence 1s ease-in-out;
}

.developpeur {
  animation: animLogoCompetence 1.2s ease-in-out;
}

.box-logo-html {
  animation: animLogoCompetence 1.4s ease-in-out;
}
.box-logo-css {
  animation: animLogoCompetence 1.6s ease-in-out;
}
.box-logo-seo {
  animation: animLogoCompetence 1.8s ease-in-out;
}
.box-logo-accessibilite {
  animation: animLogoCompetence 2s ease-in-out;
}
.box-logo-sass {
  animation: animLogoCompetence 2.2s ease-in-out;
}
.box-logo-terminal {
  animation: animLogoCompetence 2.4s ease-in-out;
}
.box-logo-git {
  animation: animLogoCompetence 2.6s ease-in-out;
}
.box-logo-js {
  animation: animLogoCompetence 2.8s ease-in-out;
}
.box-logo-node {
  animation: animLogoCompetence 3s ease-in-out;
}
.box-logo-mongo {
  animation: animLogoCompetence 3.2s ease-in-out;
}
.box-logo-react {
  animation: animLogoCompetence 3.4s ease-in-out;
}
.box-logo-mysql {
  animation: animLogoCompetence 3.6s ease-in-out;
}
.pao {
  animation: animLogoCompetence 3.8s ease-in-out;
}
.box-logo-ps {
  animation: animLogoCompetence 4s ease-in-out;
}
.box-logo-ai {
  animation: animLogoCompetence 4.2s ease-in-out;
}
.box-logo-id {
  animation: animLogoCompetence 4.4s ease-in-out;
}
.box-logo-packedge {
  animation: animLogoCompetence 4.6s ease-in-out;
}
.box-logo-plato {
  animation: animLogoCompetence 4.8s ease-in-out;
}
.box-logo-automation {
  animation: animLogoCompetence 5s ease-in-out;
}
.formation {
  animation: animLogoCompetence 5.2s ease-in-out;
}
.box-formation-oc {
  animation: animLogoCompetence 5.4s ease-in-out;
}
.box-formation-eni {
  animation: animLogoCompetence 5.6s ease-in-out;
}
.box-formation-graphipolis {
  animation: animLogoCompetence 5.8s ease-in-out;
}
.experience {
  animation: animLogoCompetence 6s ease-in-out;
}

@keyframes animLogoCompetence {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animCompetences {
  0% {
    top: -1000px;
    opacity: 0;
  }
  50% {
    top: -500px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes animMenu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes animFormations {
  0% {
    top: -1000px;
    opacity: 0;
  }
  50% {
    top: -500px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes animFormations {
  0% {
    top: -1000px;
    opacity: 0;
  }
  50% {
    top: -500px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
