.txt-book {
  font-size: 1.3em;
}

.margin-top-book {
  margin-top: 160px;
}

.box-img-book {
  position: relative;
  &--desktop {
    width: 700px;
    border-radius: 20px;
    border: 10px solid white;
    box-shadow: 0px 0px 20px #848484;
    margin-top: 40px;
  }

  &--tablette {
    width: 350px;
    position: absolute;
    top: 103px;
    left: 637px;
    border: 7px solid white;
    box-shadow: 0px 0px 20px #848484;
    border-radius: 20px;
  }
  &--mobile {
    width: 200px;
    position: absolute;
    top: 250px;
    left: 910px;
    border: 5px solid white;
    box-shadow: 0px 0px 20px #848484;
    border-radius: 20px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1240px) {
  .box-img-book {
    position: relative;
    display: flex;
    justify-content: center;
    &--desktop {
      width: 100%;
      border-radius: 20px;
      border: 10px solid white;
      box-shadow: 0px 0px 20px #848484;
      margin-top: 40px;
    }

    &--tablette {
      display: none;
    }
    &--mobile {
      display: none;
    }
  }
}
//test
