.box-all-logo-competences {
  display: flex;
  flex-wrap: wrap;

  &--one-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

    &__logo {
      width: 100px;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 940px) {
  .box-all-logo-competences {
    justify-content: center;

    &--one-box {
      &__logo {
        width: 70px;
      }
    }
  }
}
