.box-experiences {
  display: flex;
  align-items: center;
  padding: 40px 0px 40px 0px;

  &--dates {
    font-size: 2em;
    font-weight: bold;
  }

  &--logo {
    width: 120px;
    margin-left: 20px;
  }

  &--txt {
    margin-left: 20px;

    &__description {
      font-size: 1.3em;
    }
  }
}

.trait-vertical {
  background-color: #d5d4d2;
  height: 604px;
  width: 3px;
  position: absolute;
  top: 213px;
  left: 128px;
}

.trait-horizontal {
  background-color: #d5d4d2;
  height: 3px;
  width: 91px;
  position: absolute;
  left: 40px;
}

// @for $i from 1 through 4 {
//   .th#{$i} {
//     top: ($i * 2 (13px));
//   }
// }

.th1 {
  top: 213px;
}

.th2 {
  top: 413px;
}

.th3 {
  top: 613px;
}

.th4 {
  top: 813px;
}

.rond {
  background-color: #d5d4d2;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  left: 124px;
}

.r1 {
  top: 209px;
}

.r2 {
  top: 409px;
}

.r3 {
  top: 609px;
}

.r4 {
  top: 809px;
}

@media screen and (max-width: 941px) {
  .ligne-exp {
    border-bottom: 3px solid #d5d4d2;
  }
}

@media screen and (min-width: 0px) and (max-width: 940px) {
  .trait-vertical {
    display: none;
  }

  .trait-horizontal {
    display: none;
  }
  .rond {
    display: none;
  }

  .box-experiences {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0px 40px 0px;

    &--dates {
      font-size: 2em;
      font-weight: bold;
    }

    &--logo {
      width: 120px;
      margin-left: 0px;
    }

    &--txt {
      margin-left: 0px;

      &__description {
        font-size: 1.3em;
      }
    }
  }
}
