.logo-formations {
  width: 110px;
}

.box-formation {
  display: flex;
  align-items: center;
  margin-top: 40px;
  border-bottom: 1px solid #d5d4d2;
  padding-bottom: 40px;
}

.dates-formations {
  font-size: 2em;
  font-weight: bold;
  margin-right: 40px;
}

.ligne {
  border-bottom: 3px solid #d5d4d2;
}

.box-formations {
  animation: animFormations 2s ease-in-out;
  z-index: 2;
  position: relative;
}

.box-formation {
  padding: 40px;
  border-radius: 0px 15px 0px 0px;
}

.box-formation:hover {
  -webkit-box-shadow: inset 5px 5px 10px 5px #d5d4d2;
  -moz-box-shadow: inset 5px 5px 10px 5px #d5d4d2;
  box-shadow: inset 5px 5px 10px 5px #d5d4d2;
  background-color: #f3f2ef;
}

@media screen and (min-width: 0px) and (max-width: 699px) {
  .box-formation {
    padding: 0;
  }
  .dates-formations {
    margin-right: 10px;
  }
}
