.header {
  background-color: white;
  position: relative;
  border-radius: 15px;
  border: 1px solid #d5d4d2;

  &--img-couv {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
  }

  &--img-profil {
    width: 200px;
    position: absolute;
    top: 180px;
    left: 40px;
    border-radius: 100%;
    border: 5px solid white;
  }

  &--box-txt {
    display: flex;
    justify-content: space-between;
    padding: 105px 40px 40px 40px;
    align-items: flex-end;
  }
}

@media screen and (min-width: 941px) and (max-width: 1240px) {
  .header {
    &--img-profil {
      width: 170px;
      top: 150px;
    }
  }
}

@media screen and (min-width: 641px) and (max-width: 940px) {
  .header {
    &--img-profil {
      width: 140px;
      top: 90px;
      left: 20px;
    }
    &--box-txt {
      display: flex;
      justify-content: space-between;
      padding: 85px 20px 20px 20px;
      align-items: flex-end;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 640px) {
  .header {
    &--img-profil {
      width: 110px;
      top: 50px;
      left: 85px;
    }
    &--box-txt {
      display: flex;
      flex-direction: column;
      padding: 105px 20px 20px 20px;
      align-items: center;
    }
  }
}
